__pycache__/
*.py[cod]
output/
input/
!input/example.png

temp/
custom_nodes/
!custom_nodes/example_node.py.example
extra_model_paths.yaml
/.vs
.idea/
venv/
web/extensions/*
!web/extensions/logging.js.example
!web/extensions/core/
models/vae/
models/facedetection/
models/checkpoints/
models/upscale_models/GFPGANv1.4.pth
